<header>
  <mat-toolbar color="primary">
    <span>Directives in Practice</span>
    <p-dropdown users [formControl]="userFormControl" placeholder="Select user"></p-dropdown>
  </mat-toolbar>
</header>
<main>
  <mat-drawer-container>
    <mat-drawer mode="side" opened>
      @for (page of pages$ | async; track page) {
        <a
          color="primary"
          mat-button
          [routerLink]="page.url"
          >
          <span>{{ page.label }}</span>
        </a>
      }
    </mat-drawer>

    <div class="dip-layout-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</main>
